<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;">

    <a class="navbar-brand ml-5" [routerLink]="['/dashbord']">
        <img src="assets/images/logo.png" width="170" height="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <form class="form-inline my-2 mr-auto ml-auto  my-lg-0">
            <input class="form-control search-input mr-sm-2" (keyup)="searchInItems($event.target.value)"
                   type="search"
                   placeholder="Search" aria-label="Search" [value]="searchValue">
        </form>
        <ul >
            <li class="dropdown">
                <button class="btn btn-light" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell-o"></i>
                </button>
                <div class="notification-box noti dropdown-menu" aria-labelledby="dropdownMenuButton" id="notification">
                    <div class="nt-title">
                        <h4>Setting</h4>
                        <a (click)="clearNotifications()" title="">Clear all</a>
                    </div>
                    <div class="nott-list">

                        <!-- ToDo LOOP HERE -->
                        <div class="notfication-details">
                            <div class="noty-user-img">
                                <img src="images/resources/ny-img1.png" alt="">
                            </div>
                            <div class="notification-info">
                                <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                <span>2 min ago</span>
                            </div><!--notification-info -->
                        </div>

                        <div class="view-all-nots">
                            <a (click)="getAllNotifications()" title="">View All Notification</a>
                        </div>
                    </div><!--nott-list end-->
                </div><!--notification-box end-->
            </li>
            <li>
                <a class="btn btn-light" (click)="authService.logout()"><i class="fa fa-sign-out"></i></a>
            </li>
            <li>
                <a class="btn btn-light" [routerLink]="['/profile', currentUserId]"><i class="fa fa-user-circle"></i></a>
            </li>
        </ul>
    </div>

</nav>
