<div class="align body" style="height: 100vh;">
    <img src="assets/images/logo.png" width="170" height="70" style="margin: 10px;">
    <div class="grid">
        <div id="login">
            <h2><span class="fontawesome-lock"></span>Sign In</h2>
            <div class="card-body bg-light rounded-bottom">
            <form>
                <div class="form-group">
                    <label for="email">E-mail address</label>
                    <input type="email" id="email" class="form-control" name="email" [(ngModel)]="loginVM.email"
                           placeholder="mail@address.com">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                           [(ngModel)]="loginVM.password"
                           placeholder="password">
                </div>
            </form>
                <button type="button" class="btn btn-success" (click)="login()">Sign In</button>
                <hr>
                <p>
                    <button type="button" class="btn btn-dark mt-1" (click)="login('student@mail.com','12345678')">Login as
                        Student
                    </button><br>
                    <button type="button" class="btn btn-dark mt-1" (click)="login('professor@mail.com','12345678')">Login as
                        Professor
                    </button><br>
                    <button type="button" class="btn btn-dark mt-1" (click)="login('university@mail.com','12345678')">Login
                        as University Administrator
                    </button><br>
                    <button type="button" class="btn btn-dark mt-1" (click)="login('admin@uniconnects.com','12345678')">Login
                        as Admin
                    </button>
                </p>
            </div>
        </div>
        <p class="text-center"><a class="text-dark" [routerLink]="['/register']">Need an account? Sign up here</a></p>
    </div>

</div>
