<div class="user-data full-width">
    <div class="user-profile">
        <div class="username-dt">
            <div class="usr-pic">
                <img src="assets/images/std2.jpg" style="width: 100px; height: 100px;"
                    alt="">
            </div>
        </div>
        <!--username-dt end-->
        <div class="user-specs">
            <h3>John Doe</h3>
            <span>Student at AUC</span>
        </div>
    </div>
    <ul class="user-fw-status">
        <li>
            <h4>Following</h4>
            <span>34</span>
        </li>
        <li>
            <h4>Followers</h4>
            <span>155</span>
        </li>
        <li>
            <a href="#" title="">View Profile</a>
        </li>
    </ul>
</div>