
<div class="wrapper">
    <main>
        <div class="main-section cat-navbar">
            <div class="container">
                <div class="main-section-data">
                    <div class="row ml-5 mb-4" >
                       <div class="col-11">
                           <div class="row">
                            <div class="col">
                                <button class="btn btn-light cat-btn">All</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-light cat-btn">Vacancies</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-light cat-btn">Grants</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-light cat-btn">Events</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-light cat-btn">Facilities</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-light cat-btn">Programs</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-light cat-btn">Posts</button>
                            </div>
                            <div class="col university-border">
                                <button class="btn btn-light cat-btn">Universities</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-light cat-btn">People</button>
                            </div>
                           </div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                            <div class="main-left-sidebar no-margin">
                                <!-- <app-user-profile></app-user-profile>
                                <app-suggestions></app-suggestions>
                                <app-tags-sec></app-tags-sec> -->
                                
                             <app-lift-side-filter></app-lift-side-filter>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8 no-pd">
                            <div class="main-ws-sec">
                                <div class="posts-section">
                                    <app-universities-posts></app-universities-posts>
                                    <app-vacancies></app-vacancies>
                                    <!-- <app-loader></app-loader> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pd-right-none no-pd">
                            <app-right-sidebar></app-right-sidebar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>